:root {
    --main-bg-color: rgba(58,190,39,1);
    --content-bg-color: rgba(209,238,216,1);
    --inactive-bg-color: rgba(225,230,225,1);
    --inactive-bg-color2: rgba(249,249,249,1);

    --cancel-bg-color: rgba(86,94,100,1);
    
    --text-color-white: rgba(249,249,249,1);
    --text-color-black: rgba(0,0,0,1);
    --text-color-gray: rgba(155,155,155,1);
    --text-color-gray2: rgba(188,188,188,1);

    --status-color-ongame: rgba(0,163,226,1);
    --status-color-hima: rgba(15,226,0,1);
    --status-color-maybe: rgba(191,226,0,1);
    --status-color-busy: rgba(226,0,94,1);

    --btn-active-trans: translate(2px, 4px);
    --box-shadow: 3px 7px 2px rgb(0,0,0,0.1);
    --content-border-radius: 8px;

    --selected-area: rgba(138,232,124,1);
    --no-selected-area: rgba(111,111,111,0.5);

    --error-color: rgb(216, 14, 14);

    --font-family: "游ゴシック", Galvji;
    
}

// ボタン
.btn_primary {
    background-color: var(--main-bg-color);
    border-radius: 40px;
    padding: unset;
    color: var(--text-color-white);
    font-size: 18px;
    background-image: url("../../assets/img/triangle_right.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 88%;
    box-shadow: var(--box-shadow);
}
.btn_primary:hover {
    color: var(--text-color-white);
}
.btn_primary:active {
    box-shadow: none;
    transform: var(--btn-active-trans);
}
.btn_primary_normal {
    background-color: var(--main-bg-color);
    border-radius: 40px;
    padding: unset;
    color: var(--text-color-white);
    font-size: 18px;
    box-shadow: var(--box-shadow);
}
.btn_primary_normal:active {
    box-shadow: none;
    transform: var(--btn-active-trans);
}
.btn_cancel {
    background-color: var(--cancel-bg-color);
    border-radius: 40px;
    padding: unset;
    color: var(--text-color-white);
    font-size: 18px;
    box-shadow: var(--box-shadow);
}
.btn_cancel:active {
    box-shadow: none;
    transform: var(--btn-active-trans);
}
.btn_imahima:active {
    box-shadow: none!important;
    transform: var(--btn-active-trans);
}

// アイコンカラー
.icon_bg_hima{
    background-color: var(--status-color-hima);
}
.icon_bg_maybe{
    background-color: var(--status-color-maybe);
}
.icon_bg_busy{
    background-color: var(--status-color-busy);
}
.icon_bg_ongame{
    background-color: var(--status-color-ongame);
}

// 整列
.content_center{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
}
.content_center_inline{
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
}
.blank_content{
    height: 10px;
}

// 共通部品
.container{
    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
select {
    background-image: url("../../assets/img/triangle_down.svg");
    background-position: right center;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0);
}
.error_border{
    border-color: var(--error-color)!important;
    border-style: solid!important;
    border-width: 3px!important;
}